@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url(../src/assets/Font/Roboto/Roboto-Regular.ttf);
}

* {
  margin: 0;
  font-family: Roboto !important;
  padding: 0;
}

.custom-input {
  border-radius: 6px;
  border: 1px solid #afafaf;
}

.custom-input:focus,
.custom-input:active,
.custom-input:hover {
  border: 1px solid #a51535 !important;
  box-shadow: 0 0 2px #a51535 !important;
  outline: none !important;
}

.ant-carousel .slick-next::before {
  content: '' !important;
}

.ant-carousel .slick-prev::before {
  content: '' !important;
}

.carousel-button {
  display: block !important;
  background-color: #66676b !important;
  transition-duration: 300ms;
}

.carousel-button:hover {
  background-color: #a51535 !important;
}

@media only screen and (max-width: 1000px) {
  .carousel-button {
    display: none !important;
  }
}

.marquee-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  white-space: nowrap;
  background-color: white;
}

.marquee-image {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
