@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url(../public/assets/Font/Roboto/Roboto-Regular.ttf);
}

* {
  margin: 0;
  font-family: Roboto !important;
  padding: 0;
}

.custom-input {
  border-radius: 6px;
  border: 1px solid #afafaf;
}

.custom-input:focus,
.custom-input:active,
.custom-input:hover {
  border: 1px solid #a51535 !important;
  box-shadow: 0 0 2px #a51535 !important;
  outline: none !important;
}

.marquee {
  height: 50px;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;
  position: absolute;
  overflow: hidden;

  animation: marquee 10s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
.ant-carousel .slick-next::before {
  content: '' !important;
}

.ant-carousel .slick-prev::before {
  content: '' !important;
}

.carousel-button {
  display: block !important;
  background-color: #66676b !important;
  transition-duration: 300ms;
}

.carousel-button:hover {
  background-color: #a51535 !important;
}

@media only screen and (max-width: 650px) {
  .carousel-button {
    display: none !important;
  }
}